fastapi
uvicorn
pydantic
typing
torch
transformers
sentence-transformers
sympy
numpy
gdown
requests
sentencepiece
scikit-learn
# timm
# safetensors
python-multipart
# pillow
# python-docx
pdfplumber
# onnxruntime
# huggingface-hub
# easyocr
# pytesseract